<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
  <test thread-count="5" name="Test1">
    <classes>
      <class name="TestNg_Sequential.Facebook_Sequential"/>
      <class name="TestNg_Sequential.Amazon_Sequential"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test2">
    <classes>
      <class name="TestNg_Sequential.Facebook_Sequential"/>
      <class name="TestNg_Sequential.Amazon_Sequential"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test3">
    <classes>
      <class name="TestNg_Sequential.Facebook_Sequential"/>
      <class name="TestNg_Sequential.Amazon_Sequential"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
